___

**TESTES**

In [36]:
import pandas as pd
from sklearn.feature_selection import SelectPercentile, chi2

from sklearn.decomposition import PCA

# Feature Selection

In [5]:
df1 = pd.read_csv('news_M1.csv')
df2 = pd.read_csv('Topic Category/topic_cats.csv')

In [8]:
df1

,news_id,newsoutlet_id,new_title,news_text,Toxic_Class
0,1079995915652476928,28785486,China factory activity shrinks for the first t...,China's factory activity shrank in December fo...,0
1,1084275179331772416,28785486,Drone captures California man surfing with dol...,"Breathtaking drone video of a pod of friendly,...",0
2,1080216134467702784,28785486,"In 'unprecedented' speech, Kim Jong Un says No...",Kim Jong Un says he is ready to sit down again...,0
3,1080901028365697026,28785486,"Reward grows to $75,000 in hunt for killer of ...",A reward for information leading to the arrest...,1
4,1081379589711167489,28785486,GOP decries Pelosi's muted reaction as Dems de...,As newly minted Rep. Rashida Tlaib refused to ...,1
...,...,...,...,...,...
23927,1082325977840136193,6107422,Doctors warn NHS chief not to ditch A&E waitin...,Doctors have warned the head of the NHS not to...,0
23928,1079999842125078528,6107422,"World welcomes in new year with a smash, bang ...",Fireworks lit up the London Eye as thousands o...,0
23929,1081112020659945472,6107422,Stalker who threatened to rape BBC’s Alex Love...,The BBC presenter Alex Lovell spent two years ...,0
23930,1083018693053960192,6107422,"Jorja Emerson, the first child prescribed cann...",Sick children still face unacceptable obstacle...,0
23931,1081548013296893952,6107422,If only some vegans weren’t so bloody minded,How did a pastry get so political? When Greggs...,1

In [9]:
m1 = pd.merge(df1[['news_id', 'Toxic_Class']], df2, on = 'news_id', how='inner')
m1

,news_id,Toxic_Class,TC_ENTERTAINMENT,TC_FOOD & DRINK,TC_HOME & LIVING,TC_OTHERS,TC_POLITICS,TC_QUEER VOICES,TC_SPORTS,TC_STYLE & BEAUTY,TC_TRAVEL,TC_WELLNESS
0,1079995915652476928,0,0,0,0,0,1,0,0,0,0,0
1,1084275179331772416,0,0,0,0,0,1,0,0,0,0,0
2,1080216134467702784,0,0,0,0,0,1,0,0,0,0,0
3,1080901028365697026,1,0,0,0,0,0,1,0,0,0,0
4,1081379589711167489,1,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
23927,1082325977840136193,0,0,0,0,0,0,0,0,0,0,1
23928,1079999842125078528,0,0,0,0,0,1,0,0,0,0,0
23929,1081112020659945472,0,1,0,0,0,0,0,0,0,0,0
23930,1083018693053960192,0,0,0,0,0,1,0,0,0,0,0
23931,1081548013296893952,1,0,0,0,0,0,0,0,0,0,1

In [12]:
X = m1.drop(columns=['news_id', 'Toxic_Class']).copy()
y = m1['Toxic_Class'].copy()

In [15]:
# must contain only non-negative features such as booleans or frequencies
# https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.chi2.html
chi, p_values = chi2(X, y)

print(f'Chi2 statistics for each feature:\n{chi}')
print(f'\n P-values for each feature:\n{p_values}')

Chi2 statistics for each feature:
[7.40209830e+00 3.68028988e+00 1.38425712e+00 1.53254177e+01
 1.27256174e+02 2.80457576e+01 2.40906097e+01 1.17265779e-01
 7.93692359e+01 3.63842231e+01]

 P-values for each feature:
[6.51478420e-03 5.50592769e-02 2.39377334e-01 9.04907346e-05
 1.63277100e-29 1.18480559e-07 9.19073844e-07 7.32019104e-01
 5.15221592e-19 1.62009335e-09]

In [34]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23932 entries, 0 to 23931
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TC_ENTERTAINMENT   23932 non-null  int64
 1   TC_FOOD & DRINK    23932 non-null  int64
 2   TC_HOME & LIVING   23932 non-null  int64
 3   TC_OTHERS          23932 non-null  int64
 4   TC_POLITICS        23932 non-null  int64
 5   TC_QUEER VOICES    23932 non-null  int64
 6   TC_SPORTS          23932 non-null  int64
 7   TC_STYLE & BEAUTY  23932 non-null  int64
 8   TC_TRAVEL          23932 non-null  int64
 9   TC_WELLNESS        23932 non-null  int64
dtypes: int64(10)
memory usage: 2.0 MB

In [32]:
# param percentile indica percentagem de features que pretendemos manter
t1 = SelectPercentile(chi2, percentile=30).fit(X, y)
# Devolve um array com a indicação das colunas a manter (True)
t1.get_support(indices=False)

array([False, False, False, False,  True, False, False, False,  True,
        True])

# Feature Reduction
## PCA


https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html
Notice that this class does not support sparse input.

See TruncatedSVD for an alternative with sparse data.
https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.TruncatedSVD.html#sklearn.decomposition.TruncatedSVD

In [37]:
pca = PCA(n_components=3)
fit = pca.fit(X)

In [39]:
# summarize components
print("Explained Variance: %s \n" % fit.explained_variance_ratio_)
print(fit.components_)

Explained Variance: [0.39111926 0.18996358 0.09902696]

[[ 0.53266975  0.01396907  0.00978317  0.05046945 -0.83746843  0.02649822
   0.04647649  0.02788066  0.06787389  0.06184771]
 [-0.76395227  0.04203427  0.02872044  0.19420636 -0.41410369  0.08618528
   0.17354854  0.09149826  0.3012214   0.26064141]
 [ 0.03627858 -0.00869618 -0.00562963 -0.10969233  0.02954595 -0.02184727
  -0.07937999 -0.02384039  0.78500354 -0.60174228]]

In [41]:
from sklearn.decomposition import TruncatedSVD

In [ ]:
'''
from scipy.sparse import random as sparse_random
X = sparse_random(100, 100, density=0.01, format='csr', random_state=42)
'''

In [45]:
svd = TruncatedSVD(n_components=3, n_iter=7, random_state=42)
svd.fit(X)

print(svd.explained_variance_ratio_)

[0.30822192 0.22352311 0.0940515 ]

In [46]:
print(svd.explained_variance_ratio_.sum())

0.625796527381741

In [47]:
print(svd.singular_values_)

[96.94328239 72.95889254 43.48562981]