In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# 2. NewsItems

In [3]:
missing_values = ['n\a', 'na', 'None', 'NaN', '--', '.']

In [4]:
items = pd.read_csv('NewsItems.csv', na_values = missing_values)

In [12]:
items.loc[items['news_id'] == 1080101339156369408.000]

,news_id,newsoutlet_id,news_tweet_date,news_url,new_title,news_date,news_text
11100,1080101339156369409,5392522,2019-01-01 14:00:01,https://n.pr/2ApEWfr,"For Undocumented Immigrants, Getting A Driver'...",NaN,"For Undocumented Immigrants, Getting A Driver'..."

In [6]:
items.head()

,news_id,newsoutlet_id,news_tweet_date,news_url,new_title,news_date,news_text
0,1079995915652476928,28785486,2019-01-01 07:01:06,https://abcn.ws/2CIbHpE,China factory activity shrinks for the first t...,NaN,China's factory activity shrank in December fo...
1,1084039102008385536,28785486,2019-01-12 10:47:17,https://abcn.ws/2Fr7ict,ABC News,NaN,External links are provided for reference purp...
2,1084275179331772416,28785486,2019-01-13 02:25:22,https://abcn.ws/2Fv3iri,Drone captures California man surfing with dol...,NaN,"Breathtaking drone video of a pod of friendly,..."
3,1080216134467702784,28785486,2019-01-01 21:36:10,https://abcn.ws/2CHWRj9,"In 'unprecedented' speech, Kim Jong Un says No...",NaN,Kim Jong Un says he is ready to sit down again...
4,1080901028365697026,28785486,2019-01-03 18:57:41,https://abcn.ws/2CMaEVD,"Reward grows to $75,000 in hunt for killer of ...",NaN,A reward for information leading to the arrest...

In [7]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43305 entries, 0 to 43304
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   news_id          43305 non-null  int64
 1   newsoutlet_id    43305 non-null  int64
 2   news_tweet_date  43305 non-null  object
 3   news_url         43305 non-null  object
 4   new_title        43232 non-null  object
 5   news_date        27249 non-null  object
 6   news_text        42780 non-null  object
dtypes: int64(2), object(5)
memory usage: 2.3+ MB

### Duplicados

In [8]:
len(items)

43305

In [9]:
# Eliminação de duplicados completos (todos os atributos)
# 552 duplicados removidos
items.drop_duplicates(inplace=True)
len(items)

42753

#### Tweets com múltiplas notícias

In [10]:
len(items[items['news_id'].duplicated(keep=False) == True])

47

In [11]:
items['news_id'].value_counts()

1083831910504247297    3
1082888753562169345    3
1081836449631227906    3
1079302130731761664    3
1080028299508756481    3
                      ..
1080205785110642688    1
1078443212770078720    1
1082273937923428353    1
1080768782187069440    1
1078840794180653057    1
Name: news_id, Length: 42723, dtype: int64

In [12]:
items['news_id'].value_counts().value_counts()

1    42706
3       13
2        4
Name: news_id, dtype: int64

**news_id** tem duplicados pois cada tweet pode ter várias notícias (**Decisão**: drop destes 47)

In [13]:
num_news = items['news_id'].value_counts()
num_news

1083831910504247297    3
1082888753562169345    3
1081836449631227906    3
1079302130731761664    3
1080028299508756481    3
                      ..
1080205785110642688    1
1078443212770078720    1
1082273937923428353    1
1080768782187069440    1
1078840794180653057    1
Name: news_id, Length: 42723, dtype: int64

In [14]:
dup_news = num_news > 1
dup_news_ids = dup_news.index[dup_news]
dup_news_ids

Int64Index([1083831910504247297, 1082888753562169345, 1081836449631227906,
            1079302130731761664, 1080028299508756481, 1081109285076156422,
            1080621989956603905, 1078974526766108672, 1082562260130766849,
            1081477094205517824, 1079634493110185988, 1078974880610205698,
            1078728426423574528, 1082830097525104641, 1082975292447248384,
            1083831082003451904, 1082848034210435072],
           dtype='int64')

In [15]:
# seleciona os items com várias notícias e remove do dataset a partir do índice
dup_news_ids_idx = items[items.news_id.isin(dup_news_ids)].index
items.drop(dup_news_ids_idx, inplace=True)

len(items)

42706

In [16]:
# verificar duplicados contando com todos os atributos
# menos news_id e news_tweet_date
items.duplicated(['newsoutlet_id', 'new_title', 'news_url', 'news_date', 'news_text']).value_counts()

False    38356
True      4350
dtype: int64

In [17]:
items.head()

,news_id,newsoutlet_id,news_tweet_date,news_url,new_title,news_date,news_text
0,1079995915652476928,28785486,2019-01-01 07:01:06,https://abcn.ws/2CIbHpE,China factory activity shrinks for the first t...,NaN,China's factory activity shrank in December fo...
1,1084039102008385536,28785486,2019-01-12 10:47:17,https://abcn.ws/2Fr7ict,ABC News,NaN,External links are provided for reference purp...
2,1084275179331772416,28785486,2019-01-13 02:25:22,https://abcn.ws/2Fv3iri,Drone captures California man surfing with dol...,NaN,"Breathtaking drone video of a pod of friendly,..."
3,1080216134467702784,28785486,2019-01-01 21:36:10,https://abcn.ws/2CHWRj9,"In 'unprecedented' speech, Kim Jong Un says No...",NaN,Kim Jong Un says he is ready to sit down again...
4,1080901028365697026,28785486,2019-01-03 18:57:41,https://abcn.ws/2CMaEVD,"Reward grows to $75,000 in hunt for killer of ...",NaN,A reward for information leading to the arrest...

In [18]:
items.duplicated(['new_title', 'news_url', 'news_date', 'news_text']).value_counts()

False    38355
True      4351
dtype: int64

In [19]:
items.duplicated(['news_url', 'news_date', 'news_text']).value_counts()

False    38226
True      4480
dtype: int64

In [20]:
items.duplicated(['news_id', 'newsoutlet_id']).value_counts()

False    42706
dtype: int64

In [21]:
items[items.duplicated(['news_id', 'newsoutlet_id']) == True].sort_values(by=['news_id'])

Empty DataFrame
Columns: [news_id, newsoutlet_id, news_tweet_date, news_url, new_title, news_date, news_text]
Index: []

In [22]:
items['new_title'].value_counts()

Time                                                                                                               1052
ABC News                                                                                                            103
The Latest News from the UK and Around the World                                                                     79
Newsletter                                                                                                           31
Angry mum loses it at service dog handler after being told her daughter can’t pet animal                             23
                                                                                                                   ...
Two women become first to enter India's Sabarimala temple – video report                                              1
Rob Gronkowski deflects questions about retirement                                                                    1
Tom Wilson stars in top 18 NHL fights of 2018                                                                         1
‘This awards season, let’s hope the speeches are full of joy, not politics’                                           1
Republican Senator Cindy Hyde-Smith did not return corporate campaign donations after 'hanging' remarks scandal       1
Name: new_title, Length: 28475, dtype: int64

In [23]:
items['news_text'].value_counts()

About Your Privacy on this Site\nWelcome! To bring you the best content on our sites and applications, Meredith partners with third party advertisers to serve digital ads, including personalized digital ads. Those advertisers use tracking technologies to collect information about your activity on our sites and applications and across the Internet and your other apps and devices.\nYou always have the choice to experience our sites without personalized advertising based on your web browsing activity by visiting the DAA’s Consumer Choice page, the NAI's website, and/or the EU online choices page, from each of your browsers or devices. To avoid personalized advertising based on your mobile app activity, you can install the DAA’s AppChoices app here. You can find much more information about your privacy choices in our privacy policy. Even if you choose not to have your activity tracked by third parties for advertising services, you will still see non-personalized ads on our site.\nBy clicking continue below and using our sites or applications, you agree that we and our third party advertisers can:\ntransfer your personal data to the United States or other countries, and\nprocess your personal data to serve you with personalized ads, subject to your choices as described above and in our privacy policy.\nEU Data Subject Requests                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1052
We use cookies to give you the best experience. If you do nothing we'll assume that it's ok.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         123
External links are provided for reference purposes. ABC News is not responsible for the content of external Internet sites.\nCopyright © 2019 ABC News Internet Ventures. Yahoo! - ABC News Network                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   66
What term do you want to search? Search with google                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   65
Para ajudar a personalizar conteúdos, adaptar e avaliar anúncios e disponibilizar uma experiência mais segura, usamos cookies. Ao clicares ou ao navegares no site, aceitas a nossa recolha de informações dentro e fora do Facebook através de cookies. Sabe mais, incluindo informações sobre controlos: Política de cookies                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        38
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...

In [24]:
items.loc[items['news_text'] == 'What term do you want to search? Search with google']

,news_id,newsoutlet_id,news_tweet_date,news_url,new_title,news_date,news_text
31615,1080907081828290560,87818409,2019-01-03 19:21:45,https://trib.al/CLUm6n6,Manchester City v Liverpool: Premier League – ...,2019-01-03 19:07:14+00:00,What term do you want to search? Search with g...
31650,1081548016748847104,87818409,2019-01-05 13:48:36,https://trib.al/1EjjEmL,"Chelsea v Nottingham Forest, Gillingham v Card...",2019-01-05 13:45:17+00:00,What term do you want to search? Search with g...
31692,1081588887124885504,87818409,2019-01-05 16:31:00,https://trib.al/F2UiRN3,Blackpool v Arsenal: FA Cup third round - live!,2019-01-05 16:30:20+00:00,What term do you want to search? Search with g...
31722,1080035881690583041,87818409,2019-01-01 09:39:54,https://trib.al/39yeDey,Serena Williams faces Roger Federer for first ...,2019-01-01 09:30:00+00:00,What term do you want to search? Search with g...
31777,1083821589668548609,87818409,2019-01-11 20:22:58,https://trib.al/EE9tb1O,Trump backs away from declaring national emerg...,2019-01-11 20:18:01+00:00,What term do you want to search? Search with g...
...,...,...,...,...,...,...,...
34385,1083976800038993921,87818409,2019-01-12 06:39:43,https://trib.al/c2G9Ji6,Stephen Collins on Theresa May's New Year reso...,2019-01-12 06:00:36+00:00,What term do you want to search? Search with g...
34426,1084412909093040129,87818409,2019-01-13 11:32:39,https://trib.al/PGM92JK,Arsenal v Chelsea: Women's Super League – live!,2019-01-13 11:30:07+00:00,What term do you want to search? Search with g...
34432,1079835754245836800,87818409,2018-12-31 20:24:40,https://trib.al/NetX6SU,Peter Schrank on 2019's Brexit crossroads – ca...,2018-12-31 19:48:24+00:00,What term do you want to search? Search with g...
34466,1080551797054418944,87818409,2019-01-02 19:49:58,https://trib.al/yswczn5,Martin Rowson on Jeremy Hunt's vision for a po...,2019-01-02 19:11:43+00:00,What term do you want to search? Search with g...
34502,1083656796299018241,87818409,2019-01-11 09:28:08,https://trib.al/0qtmo0Q,"Premier League team news, previews and transfe...",2019-01-11 09:27:23+00:00,What term do you want to search? Search with g...

In [25]:
items['news_id'].value_counts()

1080019488668614656    1
1079895504409018369    1
1080798514752471041    1
1083032744534437888    1
1083718855900377089    1
                      ..
1079255785933336576    1
1084339941956612097    1
1081278892223225857    1
1080205785110642688    1
1078840794180653057    1
Name: news_id, Length: 42706, dtype: int64

In [26]:
repet = items2.loc[items2['news_id'] == 1082562260130766849]
repet

NameError: name 'items2' is not defined

In [27]:
repet.iloc[1,6]

NameError: name 'repet' is not defined

In [17]:
items2[items2.duplicated()]

,news_id,newsoutlet_id,news_tweet_date,news_url,new_title,news_date,news_text
2741,1080486403530768385,16343974,2019-01-02 15:30:07,https://www.telegraph.co.uk/news/2019/01/02/th...,Three people found dead in Kirton house fire a...,2019-01-02 00:00:00,Three people have died following a fire in Kir...
2742,1079086882116550667,16343974,2018-12-29 18:48:55,https://www.telegraph.co.uk/news/2018/12/29/br...,British Army Captain completes historic trek a...,2018-12-29 00:00:00,A British Army Captain has completed a solo An...
2743,1078928133791928320,16343974,2018-12-29 08:18:07,https://www.telegraph.co.uk/news/2018/12/29/ca...,Casualties from crashes caused by slow drivers...,2018-12-29 00:00:00,Casualties from crashes caused by slow drivers...
2744,1078411309841108992,16343974,2018-12-27 22:04:26,https://www.telegraph.co.uk/technology/2018/12...,Three under pressure to review Huawei 5G deal ...,2018-12-27 00:00:00,One of Britain's largest mobile providers is f...
2745,1080081370498646017,16343974,2019-01-01 12:40:40,https://www.telegraph.co.uk/news/2018/12/31/so...,Soaring numbers of patients sent home from hos...,2018-12-31 00:00:00,Vulnerable patients - many elderly - are incre...
...,...,...,...,...,...,...,...
3288,1081661479793905665,16343974,2019-01-05 21:19:27,https://www.telegraph.co.uk/news/2019/01/05/ig...,Ignoring the difference between legal and ille...,2019-01-05 00:00:00,I was 11 years old the first time our home in ...
3289,1078943971534086144,16343974,2018-12-29 09:21:03,https://www.telegraph.co.uk/news/2018/12/29/20...,"'2018 was a tetchy, overcast year, but the glo...",2018-12-29 00:00:00,"It was a tetchy, overcast sort of year, but th..."
3290,1081281155238977538,16343974,2019-01-04 20:08:11,https://www.telegraph.co.uk/news/2019/01/04/ma...,Man stabbed to death in front of his son on bo...,2019-01-04 00:00:00,A murder investigation has been launched follo...
3291,1082532383767887872,16343974,2019-01-08 07:00:07,https://www.telegraph.co.uk/politics/2019/01/0...,Vision will build an NHS that is fit for every...,2019-01-07 00:00:00,The NHS is one of our country's largest employ...
3292,1082887228555173888,16343974,2019-01-09 06:30:09,https://www.telegraph.co.uk/politics/2019/01/0...,Hate laws have left police in a quandary over ...,2019-01-08 00:00:00,Do you remember Brian Haw? Anyone working in W...

In [28]:
# cria coluna com os índices ficando cada linha com uma chave única
items['single_news_id'] = items.index
items.head()

,news_id,newsoutlet_id,news_tweet_date,news_url,new_title,news_date,news_text,single_news_id
0,1079995915652476928,28785486,2019-01-01 07:01:06,https://abcn.ws/2CIbHpE,China factory activity shrinks for the first t...,NaN,China's factory activity shrank in December fo...,0
1,1084039102008385536,28785486,2019-01-12 10:47:17,https://abcn.ws/2Fr7ict,ABC News,NaN,External links are provided for reference purp...,1
2,1084275179331772416,28785486,2019-01-13 02:25:22,https://abcn.ws/2Fv3iri,Drone captures California man surfing with dol...,NaN,"Breathtaking drone video of a pod of friendly,...",2
3,1080216134467702784,28785486,2019-01-01 21:36:10,https://abcn.ws/2CHWRj9,"In 'unprecedented' speech, Kim Jong Un says No...",NaN,Kim Jong Un says he is ready to sit down again...,3
4,1080901028365697026,28785486,2019-01-03 18:57:41,https://abcn.ws/2CMaEVD,"Reward grows to $75,000 in hunt for killer of ...",NaN,A reward for information leading to the arrest...,4

In [29]:
def show_dup(items,feature):  
    a=items[feature].count()
    b=items[feature].nunique()
    print(f'{feature} \t => count {a}, únicos {b}, duplicados {a-b}')

features = items.columns.tolist()

for feature in features:
    show_dup(items,feature)

news_id 	 => count 42706, únicos 42706, duplicados 0
newsoutlet_id 	 => count 42706, únicos 28, duplicados 42678
news_tweet_date 	 => count 42706, únicos 39326, duplicados 3380
news_url 	 => count 42706, únicos 37204, duplicados 5502
new_title 	 => count 42633, únicos 28475, duplicados 14158
news_date 	 => count 26839, únicos 16914, duplicados 9925
news_text 	 => count 42183, únicos 30180, duplicados 12003
single_news_id 	 => count 42706, únicos 42706, duplicados 0

In [30]:
items['newsoutlet_id'].value_counts()

16973333      4778
17895820      3474
34655603      3248
87818409      2977
16887175      2808
95431448      2096
14173315      1993
759251        1796
2467791       1561
28785486      1498
7587032       1487
3108351       1314
807095        1277
111556423     1272
138749160     1228
15012486      1225
14293310      1093
14511951      1053
15754281      1006
1020058453     862
5392522        851
6107422        726
271413771      720
612473         691
16343974       552
7309052        499
21866939       436
428333         185
Name: newsoutlet_id, dtype: int64

In [31]:
items['news_id'].nunique()

42706

### Missing values

In [32]:
items_missing_v = items.isnull().sum()
print(items_missing_v)

news_id                0
newsoutlet_id          0
news_tweet_date        0
news_url               0
new_title             73
news_date          15867
news_text            523
single_news_id         0
dtype: int64

In [33]:
items['news_date'].value_counts()

2018-12-31 00:00:00          111
2019-01-03 00:00:00          110
2019-01-11 00:00:00           98
2019-01-04 00:00:00           96
2019-01-08 00:00:00           92
                            ...
2018-12-27 14:31:43+00:00      1
2018-12-29 13:37:15-05:00      1
2019-01-08 01:16:00            1
2019-01-08 11:44:08+00:00      1
2019-01-12T09:57-500           1
Name: news_date, Length: 16914, dtype: int64

In [34]:
items.isnull().value_counts()

news_id  newsoutlet_id  news_tweet_date  news_url  new_title  news_date  news_text  single_news_id
False    False          False            False     False      False      False      False             26837
                                                              True       False      False             15346
                                                                         True       False               448
                                                   True       True       True       False                73
                                                   False      False      True       False                 2
dtype: int64

Caso *news_title=True and news_date=True and news_text=True* => 72

In [35]:
sem_txt_date_title = items[items['new_title'].isnull() & items['news_date'].isnull() & items['news_text'].isnull()]
sem_txt_date_title

,news_id,newsoutlet_id,news_tweet_date,news_url,new_title,news_date,news_text,single_news_id
1262,1084463214778175488,28785486,2019-01-13 14:52:33,https://abcn.ws/2RIoTDs,NaN,NaN,NaN,1262
15960,1082766726146740225,2467791,2019-01-08 22:31:19,https://wapo.st/2FnsoIX,NaN,NaN,NaN,15960
15979,1080070538079490048,2467791,2019-01-01 11:57:37,https://wapo.st/2F1Wdya,NaN,NaN,NaN,15979
15983,1082820341574103041,2467791,2019-01-09 02:04:21,https://wapo.st/2FiReJH,NaN,NaN,NaN,15983
16011,1079841234968023041,2467791,2018-12-31 20:46:27,https://wapo.st/2Vn7z5C,NaN,NaN,NaN,16011
...,...,...,...,...,...,...,...,...
17452,1078788995524554754,2467791,2018-12-28 23:05:14,https://wapo.st/2ERlw68,NaN,NaN,NaN,17452
17483,1080608449531179013,2467791,2019-01-02 23:35:05,https://wapo.st/2CFqXDG,NaN,NaN,NaN,17483
17489,1081289934370230273,2467791,2019-01-04 20:43:04,https://wapo.st/2CQblgH,NaN,NaN,NaN,17489
17494,1084205158064685056,2467791,2019-01-12 21:47:07,https://wapo.st/2D5uqvr,NaN,NaN,NaN,17494
17504,1080666565576663045,2467791,2019-01-03 03:26:01,https://wapo.st/2F6nwYy,NaN,NaN,NaN,17504

O mesmo url está presente em news_id's diferentes!

In [36]:
items['news_url'].value_counts()

https://news.sky.com/                                                                                              61
https://cbsn.ws/2iuAAgA                                                                                            31
https://www.indy100.com/article/service-dog-sally-angry-shouts-handler-pet-mall-pittsburgh-8696361                 23
https://www.indy100.com/article/brexit-jokes-memes-funniest-theresa-may-eu-deal-britain-parliament-vote-8679891    22
https://www.indy100.com/article/science-astrophysicists-twitter-katie-mack-climate-change-8704531                  20
                                                                                                                   ..
https://dailym.ai/2FhVFoh                                                                                           1
https://trib.al/PuCAH9u                                                                                             1
http://news.sky.com/story/mass-grave-of-hundreds-of-babies-to-be-excavated-in-ireland-11593889                      1
https://dailym.ai/2CPV2kh                                                                                           1
http://mag.time.com/bU8HV7N                                                                                         1
Name: news_url, Length: 37204, dtype: int64

In [37]:
sem_txt_date_title['newsoutlet_id'].count()

73

In [38]:
# export do csv
items.to_csv('items.csv', index=False)

In [40]:
items

,news_id,newsoutlet_id,news_tweet_date,news_url,new_title,news_date,news_text,single_news_id
0,1079995915652476928,28785486,2019-01-01 07:01:06,https://abcn.ws/2CIbHpE,China factory activity shrinks for the first t...,NaN,China's factory activity shrank in December fo...,0
1,1084039102008385536,28785486,2019-01-12 10:47:17,https://abcn.ws/2Fr7ict,ABC News,NaN,External links are provided for reference purp...,1
2,1084275179331772416,28785486,2019-01-13 02:25:22,https://abcn.ws/2Fv3iri,Drone captures California man surfing with dol...,NaN,"Breathtaking drone video of a pod of friendly,...",2
3,1080216134467702784,28785486,2019-01-01 21:36:10,https://abcn.ws/2CHWRj9,"In 'unprecedented' speech, Kim Jong Un says No...",NaN,Kim Jong Un says he is ready to sit down again...,3
4,1080901028365697026,28785486,2019-01-03 18:57:41,https://abcn.ws/2CMaEVD,"Reward grows to $75,000 in hunt for killer of ...",NaN,A reward for information leading to the arrest...,4
...,...,...,...,...,...,...,...,...
43300,1079999842125078528,6107422,2019-01-01 07:16:42,https://www.thetimes.co.uk/article/world-welco...,"World welcomes in new year with a smash, bang ...",NaN,Fireworks lit up the London Eye as thousands o...,43300
43301,1081112020659945472,6107422,2019-01-04 08:56:06,https://www.thetimes.co.uk/article/stalker-who...,Stalker who threatened to rape BBC’s Alex Love...,NaN,The BBC presenter Alex Lovell spent two years ...,43301
43302,1083018693053960192,6107422,2019-01-09 15:12:32,https://www.thetimes.co.uk/article/jorja-emers...,"Jorja Emerson, the first child prescribed cann...",NaN,Sick children still face unacceptable obstacle...,43302
43303,1079661687941316609,6107422,2018-12-31 08:53:00,https://www.thetimes.co.uk/article/illegal-tax...,Illegal taxi drivers thrive on Facebook,NaN,Police say that people are risking their safet...,43303
43304,1081548013296893952,6107422,2019-01-05 13:48:35,https://www.thetimes.co.uk/article/if-only-som...,If only some vegans weren’t so bloody minded,NaN,How did a pastry get so political? When Greggs...,43304