In [1]:
import pandas as pd
import numpy as np

outlets = pd.read_csv('outlets.csv')
items = pd.read_csv('items.csv')
ireplies = pd.read_csv('ireplies.csv')

In [2]:
m1 = pd.merge(outlets, items, on = 'newsoutlet_id', how='inner')
m1.head()

,newsoutlet_id,newsoutlet_name,newsoutlet_country,news_id,news_tweet_date,news_url,new_title,news_date,news_text
0,428333,"""CNN Breaking News""",USA,1080369723227979776,2019-01-02 07:46:28,https://cnn.it/2AmMvDy,Winning ticket sold for $425 million New Year'...,NaN,"(CNN) Another year, another lottery you didn't..."
1,428333,"""CNN Breaking News""",USA,1078295012532736001,2018-12-27 14:22:19,https://cnn.it/2Q9yazC,Clashes in Tunisia after journalist sets himse...,NaN,(CNN) Clashes in Tunisia have continued betwee...
2,428333,"""CNN Breaking News""",USA,1080101085916868609,2019-01-01 13:59:00,https://cnn.it/2Rl9jgP,Manchester police are treating the New Year's ...,NaN,"(CNN) Police are conducting a ""terrorist inves..."
3,428333,"""CNN Breaking News""",USA,1079909388524154880,2019-01-01 01:17:16,https://cnn.it/2rXO5Hw,"Chief Justice Roberts avoids controversy, prai...",NaN,(CNN) — Chief Justice John Roberts steered cle...
4,428333,"""CNN Breaking News""",USA,1079356116885229568,2018-12-30 12:38:46,https://cnn.it/2EWhBpv,"California limits pet store sales of cats, dog...",NaN,(CNN) California pet stores soon will be allow...

In [3]:
m = pd.merge(ireplies, m1, left_on='in_reply_to_news_id', right_on='news_id', how='inner')
m.head()

,comment_id,news_tweet_text,comment_tweet_date,in_reply_to_news_id,comment_tweet_text,perspective_attack_on_author,perspective_attack_on_commenter,perspective_identity_attack,perspective_inflammatory,perspective_insult,...,perspective_toxicity,newsoutlet_id,newsoutlet_name,newsoutlet_country,news_id,news_tweet_date,news_url,new_title,news_date,news_text
0,1078527431877611520,"In Kerala, a part of India known as ""land of c...",2018-12-27 14:44:00,1078300469250936832,@NPR Is this news more important than what the...,0.026472,0.104314,0.381637,0.417090,0.174573,...,0.235089,5392522,"""NPR""",USA,1078300469250936832,2018-12-27 14:44:00,https://n.pr/2Vdwj0n,Kerala Needs Coconut Pickers — So Women Are St...,NaN,Kerala Needs Coconut Pickers — So Women Are St...
1,1078303434460352512,"In Kerala, a part of India known as ""land of c...",2018-12-27 14:44:00,1078300469250936832,@NPR This is news?,0.029212,0.322569,0.084082,0.057818,0.081657,...,0.097818,5392522,"""NPR""",USA,1078300469250936832,2018-12-27 14:44:00,https://n.pr/2Vdwj0n,Kerala Needs Coconut Pickers — So Women Are St...,NaN,Kerala Needs Coconut Pickers — So Women Are St...
2,1078301140507340800,"In Kerala, a part of India known as ""land of c...",2018-12-27 14:44:00,1078300469250936832,@NPR Ah coming!!!,0.013685,0.406630,0.099977,0.127768,0.080040,...,0.104369,5392522,"""NPR""",USA,1078300469250936832,2018-12-27 14:44:00,https://n.pr/2Vdwj0n,Kerala Needs Coconut Pickers — So Women Are St...,NaN,Kerala Needs Coconut Pickers — So Women Are St...
3,1078308332048433153,"In Kerala, a part of India known as ""land of c...",2018-12-27 14:44:00,1078300469250936832,@NPR wow it’s so weird that the state sponsors...,0.078118,0.802715,0.105055,0.204079,0.120472,...,0.178618,5392522,"""NPR""",USA,1078300469250936832,2018-12-27 14:44:00,https://n.pr/2Vdwj0n,Kerala Needs Coconut Pickers — So Women Are St...,NaN,Kerala Needs Coconut Pickers — So Women Are St...
4,1078345403546955777,"In Kerala, a part of India known as ""land of c...",2018-12-27 14:44:00,1078300469250936832,@NPR “Land of the coconuts” @HawtAnu,0.008373,0.010618,0.233584,0.088320,0.181779,...,0.178178,5392522,"""NPR""",USA,1078300469250936832,2018-12-27 14:44:00,https://n.pr/2Vdwj0n,Kerala Needs Coconut Pickers — So Women Are St...,NaN,Kerala Needs Coconut Pickers — So Women Are St...

In [4]:
# comentarios toxicos (0 - não tóxico; 1 - tóxico)

m['Toxic'] = np.where(m['perspective_toxicity']<0.5, 0, 1)

In [5]:
m.Toxic.value_counts()

0    740757
1    206885
Name: Toxic, dtype: int64

In [6]:
# Percentagem comentários tóxicos (0 - não tóxico; 1 - tóxico)
m['Toxic'].value_counts(normalize=True) * 100

0    78.168443
1    21.831557
Name: Toxic, dtype: float64

In [7]:
# Para cada notícia a soma, contagem e percentagem de comentários tóxicos
tSum = m.groupby('news_id')['Toxic'].sum()
tCount = m.groupby('news_id')['Toxic'].count()
tPerc = m.groupby('news_id')['Toxic'].mean()*100

news_stat = pd.DataFrame({'news_id':tSum.index, 'Toxic sum':tSum, 'Toxic count':tCount, 'Toxic percentage': tPerc})
news_stat

,news_id,Toxic sum,Toxic count,Toxic percentage
news_id,,,,
1078283917315186688,1078283917315186688,5,21,23.809524
1078284046587830273,1078284046587830273,65,345,18.840580
1078284292072132609,1078284292072132609,3,8,37.500000
1078284365136912384,1078284365136912384,1,3,33.333333
1078284432530903041,1078284432530903041,0,13,0.000000
...,...,...,...,...
1084621455168626688,1084621455168626688,0,7,0.000000
1084621616829612032,1084621616829612032,3,19,15.789474
1084621692570341376,1084621692570341376,0,2,0.000000
1084621697418973184,1084621697418973184,0,4,0.000000
1084622016836030464,1084622016836030464,0,1,0.000000

### Métrica 1
São consideradas tóxicas as notícias em que a percentagem dos seus comentários tóxicos sejam maiores que a percentagem média.

In [8]:
# média da percentagem de comentários tóxicos de cada notícia
media = news_stat['Toxic percentage'].mean()
media

16.383623227562953

In [9]:
# notícias consideradas geradoras de toxicidade (pela MÉDIA) 
toxic_mean = news_stat[news_stat['Toxic percentage'] > media]
toxic_mean

,news_id,Toxic sum,Toxic count,Toxic percentage
news_id,,,,
1078283917315186688,1078283917315186688,5,21,23.809524
1078284046587830273,1078284046587830273,65,345,18.840580
1078284292072132609,1078284292072132609,3,8,37.500000
1078284365136912384,1078284365136912384,1,3,33.333333
1078284529608069120,1078284529608069120,1,1,100.000000
...,...,...,...,...
1084616542241861634,1084616542241861634,1,1,100.000000
1084616634814345217,1084616634814345217,6,17,35.294118
1084616729026805760,1084616729026805760,1,3,33.333333
1084619901208272896,1084619901208272896,97,203,47.783251
1084620116401242112,1084620116401242112,20,62,32.258065

In [10]:
# news_ids de notícias geradoras de toxicidade (lista)
txc_ids_m = list(toxic_mean['news_id'])

# Notícias classificadas
items_m1 = items
items_m1['Toxic_Class'] = np.where(items_m1['news_id'].isin(txc_ids_m), 1, 0)

# Seleção de colunas
news_M1 = items_m1[['news_id','newsoutlet_id','new_title','news_text','Toxic_Class']]
news_M1

,news_id,newsoutlet_id,new_title,news_text,Toxic_Class
0,1079995915652476928,28785486,China factory activity shrinks for the first t...,China's factory activity shrank in December fo...,0
1,1084039102008385536,28785486,ABC News,External links are provided for reference purp...,0
2,1084275179331772416,28785486,Drone captures California man surfing with dol...,"Breathtaking drone video of a pod of friendly,...",0
3,1080216134467702784,28785486,"In 'unprecedented' speech, Kim Jong Un says No...",Kim Jong Un says he is ready to sit down again...,0
4,1080901028365697026,28785486,"Reward grows to $75,000 in hunt for killer of ...",A reward for information leading to the arrest...,1
...,...,...,...,...,...
29183,1079999842125078528,6107422,"World welcomes in new year with a smash, bang ...",Fireworks lit up the London Eye as thousands o...,0
29184,1081112020659945472,6107422,Stalker who threatened to rape BBC’s Alex Love...,The BBC presenter Alex Lovell spent two years ...,0
29185,1083018693053960192,6107422,"Jorja Emerson, the first child prescribed cann...",Sick children still face unacceptable obstacle...,0
29186,1079661687941316609,6107422,Illegal taxi drivers thrive on Facebook,Police say that people are risking their safet...,0
29187,1081548013296893952,6107422,If only some vegans weren’t so bloody minded,How did a pastry get so political? When Greggs...,1

In [11]:
stat1 = news_M1['Toxic_Class'].value_counts()
stat2 = news_M1['Toxic_Class'].value_counts(normalize=True)*100

print('# Métrica 1 (Média) #')
print(f'{stat1[1]} ({stat2[1]}%) Notícias Tóxicas')
print(f'{stat1[0]} ({stat2[0]}%) Notícias Não Tóxicas')

# Métrica 1 (Média) #
11438 (39.18733726188845%) Notícias Tóxicas
17750 (60.812662738111555%) Notícias Não Tóxicas

### Métrica 2
São consideradas tóxicas as notícias em que a percentagem dos seus comentários tóxicos sejam maiores que a percentagem mediana.

In [12]:
# mediana da percentagem de comentários tóxicos de cada notícia
mediana = news_stat['Toxic percentage'].median()
mediana

11.11111111111111

In [13]:
# notícias consideradas geradoras de toxicidade (pela MEDIANA) 
toxic_median = news_stat[news_stat['Toxic percentage'] > mediana]
toxic_median

,news_id,Toxic sum,Toxic count,Toxic percentage
news_id,,,,
1078283917315186688,1078283917315186688,5,21,23.809524
1078284046587830273,1078284046587830273,65,345,18.840580
1078284292072132609,1078284292072132609,3,8,37.500000
1078284365136912384,1078284365136912384,1,3,33.333333
1078284510276534273,1078284510276534273,5,31,16.129032
...,...,...,...,...
1084616729026805760,1084616729026805760,1,3,33.333333
1084617358138855425,1084617358138855425,5,42,11.904762
1084619901208272896,1084619901208272896,97,203,47.783251
1084620116401242112,1084620116401242112,20,62,32.258065
1084621616829612032,1084621616829612032,3,19,15.789474

In [14]:
# news_ids de notícias geradoras de toxicidade (lista)
txc_ids_md = list(toxic_median['news_id'])

# Notícias classificadas
items_m2 = items
items_m2['Toxic_Class'] = np.where(items_m2['news_id'].isin(txc_ids_md), 1, 0)

# Seleção de colunas
news_M2 = items_m1[['news_id','newsoutlet_id','new_title','news_text','Toxic_Class']]
news_M2

,news_id,newsoutlet_id,new_title,news_text,Toxic_Class
0,1079995915652476928,28785486,China factory activity shrinks for the first t...,China's factory activity shrank in December fo...,0
1,1084039102008385536,28785486,ABC News,External links are provided for reference purp...,0
2,1084275179331772416,28785486,Drone captures California man surfing with dol...,"Breathtaking drone video of a pod of friendly,...",0
3,1080216134467702784,28785486,"In 'unprecedented' speech, Kim Jong Un says No...",Kim Jong Un says he is ready to sit down again...,0
4,1080901028365697026,28785486,"Reward grows to $75,000 in hunt for killer of ...",A reward for information leading to the arrest...,1
...,...,...,...,...,...
29183,1079999842125078528,6107422,"World welcomes in new year with a smash, bang ...",Fireworks lit up the London Eye as thousands o...,0
29184,1081112020659945472,6107422,Stalker who threatened to rape BBC’s Alex Love...,The BBC presenter Alex Lovell spent two years ...,0
29185,1083018693053960192,6107422,"Jorja Emerson, the first child prescribed cann...",Sick children still face unacceptable obstacle...,0
29186,1079661687941316609,6107422,Illegal taxi drivers thrive on Facebook,Police say that people are risking their safet...,0
29187,1081548013296893952,6107422,If only some vegans weren’t so bloody minded,How did a pastry get so political? When Greggs...,1

In [15]:
stat1 = news_M2['Toxic_Class'].value_counts()
stat2 = news_M2['Toxic_Class'].value_counts(normalize=True)*100

print('# Métrica 2 (Mediana) #')
print(f'{stat1[1]} ({stat2[1]}%) Notícias Tóxicas')
print(f'{stat1[0]} ({stat2[0]}%) Notícias Não Tóxicas')

# Métrica 2 (Mediana) #
13934 (47.73879676579416%) Notícias Tóxicas
15254 (52.26120323420583%) Notícias Não Tóxicas

### Métrica 3

In [16]:
media = m.groupby("news_id").mean()
media

,comment_id,in_reply_to_news_id,perspective_attack_on_author,perspective_attack_on_commenter,perspective_identity_attack,perspective_inflammatory,perspective_insult,perspective_profanity,perspective_severe_toxicity,perspective_threat,perspective_toxicity,newsoutlet_id,Toxic
news_id,,,,,,,,,,,,,
1078283917315186688,1.078313e+18,1.078284e+18,0.032064,0.309125,0.254133,0.378502,0.272414,0.215488,0.200492,0.254474,0.314230,759251.0,0.238095
1078284046587830273,1.078370e+18,1.078284e+18,0.038872,0.358853,0.219634,0.279290,0.270601,0.269470,0.267206,0.369213,0.338396,28785486.0,0.188406
1078284292072132609,1.078304e+18,1.078284e+18,0.047953,0.451468,0.427189,0.349705,0.342691,0.254075,0.279627,0.266580,0.391903,21866939.0,0.375000
1078284365136912384,1.078287e+18,1.078284e+18,0.213769,0.157674,0.198585,0.216416,0.267716,0.382606,0.326549,0.435214,0.319475,15754281.0,0.333333
1078284432530903041,1.078292e+18,1.078284e+18,0.012487,0.288935,0.115256,0.180821,0.110523,0.080209,0.050837,0.191285,0.131791,87818409.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084621455168626688,1.084622e+18,1.084621e+18,0.030098,0.311452,0.155485,0.273747,0.124370,0.109647,0.113806,0.230034,0.149392,428333.0,0.000000
1084621616829612032,1.084622e+18,1.084622e+18,0.053617,0.609818,0.289759,0.374427,0.305526,0.239543,0.174007,0.249121,0.313147,2467791.0,0.157895
1084621692570341376,1.084622e+18,1.084622e+18,0.006548,0.312620,0.148773,0.250951,0.109792,0.093767,0.094567,0.214132,0.169093,14511951.0,0.000000
1084621697418973184,1.084622e+18,1.084622e+18,0.020090,0.270650,0.173341,0.089456,0.129835,0.125951,0.123942,0.288893,0.169075,28785486.0,0.000000
1084622016836030464,1.084622e+18,1.084622e+18,0.031694,0.263150,0.124090,0.147072,0.085029,0.079372,0.074157,0.230786,0.083789,5392522.0,0.000000

In [17]:
mediana = m.groupby("news_id").median()
mediana

,comment_id,in_reply_to_news_id,perspective_attack_on_author,perspective_attack_on_commenter,perspective_identity_attack,perspective_inflammatory,perspective_insult,perspective_profanity,perspective_severe_toxicity,perspective_threat,perspective_toxicity,newsoutlet_id,Toxic
news_id,,,,,,,,,,,,,
1078283917315186688,1.078286e+18,1.078284e+18,0.031429,0.242222,0.138161,0.351596,0.175122,0.155929,0.163299,0.229855,0.186486,759251.0,0.0
1078284046587830273,1.078319e+18,1.078284e+18,0.021994,0.304418,0.173827,0.199468,0.230588,0.194052,0.199945,0.295145,0.282014,28785486.0,0.0
1078284292072132609,1.078288e+18,1.078284e+18,0.044600,0.487090,0.411537,0.263137,0.248306,0.172693,0.213050,0.220579,0.343661,21866939.0,0.0
1078284365136912384,1.078285e+18,1.078284e+18,0.035170,0.150297,0.174765,0.194698,0.211105,0.314428,0.244766,0.408516,0.194548,15754281.0,0.0
1078284432530903041,1.078288e+18,1.078284e+18,0.006934,0.238486,0.115603,0.118918,0.079019,0.056183,0.035994,0.205081,0.110591,87818409.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084621455168626688,1.084622e+18,1.084621e+18,0.034050,0.338241,0.141467,0.214923,0.095180,0.088589,0.089980,0.218412,0.132439,428333.0,0.0
1084621616829612032,1.084622e+18,1.084622e+18,0.028569,0.592016,0.229356,0.291526,0.156070,0.115568,0.100358,0.219099,0.191597,2467791.0,0.0
1084621692570341376,1.084622e+18,1.084622e+18,0.006548,0.312620,0.148773,0.250951,0.109792,0.093767,0.094567,0.214132,0.169093,14511951.0,0.0
1084621697418973184,1.084622e+18,1.084622e+18,0.022731,0.286653,0.173827,0.103305,0.123528,0.127656,0.130282,0.270158,0.161517,28785486.0,0.0
1084622016836030464,1.084622e+18,1.084622e+18,0.031694,0.263150,0.124090,0.147072,0.085029,0.079372,0.074157,0.230786,0.083789,5392522.0,0.0

In [18]:
# export do csv
#news_M1.to_csv('news_M1.csv', index=False)
#news_M2.to_csv('news_M2.csv', index=False)